// $component-box-model: () !global;

@mixin component-box( $model, $isInitial: false, $mod: (), $modType: "class", $modDivider: "-" ) {
	// @if $isInitial {
	// 	$model: map-overwrite( $component-box-model, $model );
	// 	$component-box-model: $model !global;
	// }
	// @else {
	// 	$model: map-unique( $component-box-model, $model );
	// }

	$prefix: ".c-box";

	@if ( $mod == "" or length( $mod ) == 0  ) {
		#{ $prefix } {
			@include _component-box( $model, "&", $isInitial ) { @content; };
		}
	}
	@else {
		#{ mvs-mod-to-string( $mod, $prefix, $modType, $modDivider ) } {
			@include _component-box( $model, $prefix, $isInitial ) { @content; };
		}
	}
}

@mixin _component-box( $model, $prefix: "", $isInitial: false ) {
	$staticPrefix: $prefix;
	
	@if ( $prefix == "&" ) {
		$staticPrefix: nth( mvs-parent(), -1 );
	}

	@include mvs-respond-map( "_", $model, "", 0 );
	// TODO add support for removing selectors with pseuso selectors
	// $model: map-remove( $model, "_" );

	#{ $prefix }__#{ "img-container" } {
		@include mvs-respond-map( "_img-container", $model, "", 1 );
		// $model: map-remove( $model, "_img-container" );
	}

	#{ $prefix }__#{ "img" } {
		@include mvs-respond-map( "_img", $model, "", 1 );
		// $model: map-remove( $model, "_img" );
	}

	#{ $prefix }__#{ "body" } {
		@include mvs-respond-map( "_body", $model, "", 1 );
		// $model: map-remove( $model, "_body" );
	}

	// @if type-of( $model ) == "map" and length( $model ) > 0 {
	// 	@debug "List of selectors passed in $model that ware not rendered via controller: `#{ map-keys( $model ) }`";
	// }

	@content;
}
