$core-model-list: () !global;

@mixin component-list( $model-list: $core-model-list, $isInitial: false, $mod: (), $modType: "class", $modDivider: "-"  ) {
	@if $isInitial {
		$model-list: map-overwrite( $core-model-list, $model-list );
		$core-model-list: $model-list !global;
	}
	@else {
		$model-list: map-unique( $core-model-list, $model-list );
	}

	$prefix: ".list";

	@if ( $mod == "" or length( $mod ) == 0  ) {
		#{ $prefix } {
			@include _component-list( $model-list, "&", $isInitial ) { @content; };
		}
	}
	@else {
		#{ $prefix + mvs-mod-to-string( $mod, $prefix, $modType, $modDivider ) } {
			@include _component-list( $model-list, $prefix, $isInitial ) { @content; };
		}
	}
}

@mixin _component-list( $model-list: $core-model-list, $prefix: "", $isInitial: false ) {

	$staticPrefix: $prefix;

	@if ( $prefix == "&" ) {
		$staticPrefix: nth( mvs-parent(), -1 );
	}

	@include mvs-respond-map( "_", $model-list, "", 0 );

	#{ $prefix }__#{ "body" } {
		@if $isInitial {
			@include clearfix;
		}

		@include mvs-respond-map( "body_", $model-list, "", 1 );
	}

	#{ $prefix }__#{ "item" } {
		@if $isInitial {
			display: block
		}

		@include mvs-respond-map( "item_", $model-list, "", 1, "", 0 );
	}

	#{ $prefix }__#{ "item-link" } {
		@if $isInitial {
			display: block
		}

		@include mvs-respond-map( "item-link_", $model-list, "", 1, #{ $staticPrefix }__#{ "item" }, 1 );
	}

	#{ $prefix }__#{ "item-img-container" } {
		@if $isInitial {
			display: block
		}

		@include mvs-respond-map( "item-img-container_", $model-list, "", 1, #{ $staticPrefix }__#{ "item" }, 1 );
	}

	#{ $prefix }__#{ "item-img" } {
		@if $isInitial {
			display: block;
			width: 100%;
		}

		@include mvs-respond-map( "item-img_", $model-list, "", 1, #{ $staticPrefix }__#{ "item" }, 1 );
	}

	#{ $prefix }__#{ "item-body" } {
		@include mvs-respond-map( "item-body_", $model-list, "", 1, #{ $staticPrefix }__#{ "item" }, 1 );
	}

	#{ $prefix }__#{ "item-header" } {
		@include mvs-respond-map( "item-header_", $model-list, "", 1, #{ $staticPrefix }__#{ "item" }, 1 );
	}

	#{ $prefix }__#{ "item-desc" } {
		@include mvs-respond-map( "item-desc_", $model-list, "", 1, #{ $staticPrefix }__#{ "item" }, 1 );
	}

	@content;
}
