$screen-breakpoints: (
	xxs : 0px,
	xs  : 420px,
	sm  : 620px,
	md  : 820px,
	lg  : 1020px
);

$screen-containers: (
	xxs : auto,
	xs  : 400px,
	sm  : 600px,
	md  : 800px,
	lg  : 1000px
);

$default-color: #f5f2f0;
