@import "../variables";

$component-box-model_ver6: (
	_body: (
		background:
		(
			( "mod_key": "mod_value" ),
			mix( $default-color, #ff0000, 20% )
		),
	),
);

$component-box-model_ver6_m: (
	_body: (
		background:
		(
			( "mod_key": "mod_value" ),
			(
				xxs: mix( $default-color, #ff0000, 20% ),
			),
		),
	),
);
