@import "variables";

$component-box-model_ver7: (
	body_background : (
		( mix( $default-color, #ff0000, 20% ), mix( $default-color, #ff0000, 40% ) ),
		( ":active", ( "mod_key": "mod_value" ), mix( $default-color, #ff0000, 60% ) ),
		( ".js", ":hover", ( "mod_key": "mod_value" ), mix( $default-color, #ff0000, 80% ),  mix( $default-color, #ff0000, 100% ) ),
	),
);

$component-box-model_ver7_m: (
	body_background : (
		(
			xxs : mix( $default-color, #ff0000, 20% ),
			xs  : mix( $default-color, #ff0000, 40% ),
		),
		( ":active", ( "mod_key": "mod_value" ), (
			xxs : mix( $default-color, #ff0000, 60% ),
		) ),
		( ".js", ":hover", ( "mod_key": "mod_value" ), (
			xxs : mix( $default-color, #ff0000, 80% ),
			xs  : mix( $default-color, #ff0000, 100% ),
		) ),
	),
);
