@import "variables";

//TODO: Add support to inject pseudo selectors to parameter name
$component-box-model_ver5: (
	img-container_content  : ( ":before", "xxs", "xs", "sm", "md", "lg" ),
	img-container_position : ( ":before", absolute ),
	img-container_margin   : ( ":before", 5px ),
);
//TODO: Generates obsolete: @media (min-width: 0) {}
$component-box-model_ver5_m: (
	img-container_content : (
		":before", (
			xxs : "xxs",
			xs  : "xs",
			sm  : "sm",
			md  : "md",
			lg  : "lg",
		),
	),
	img-container_position : (
		":before", (
			xxs: absolute,
		)
	),
	img-container_margin   : (
		":before", (
			xxs: 5px,
		),
	),
);
