@import "variables";

$component-box-model_ver6: (
	body_background : ( ( "mod_key": "mod_value" ), mix( $default-color, #ff0000, 20% ) ),
);

$component-box-model_ver6_m: (
	body_background : (
		( "mod_key": "mod_value" ), (
			xxs: mix( $default-color, #ff0000, 20% ),
		),
	),
);

// Brand new approach
$component-box-model_ver6: (
	body_: (
		background:
		(
			( "mod_key": "mod_value" ),
			mix( $default-color, #ff0000, 20% )
		),
	),
);

$component-box-model_ver6_m: (
	body_: (
		background:
		(
			( "mod_key": "mod_value" ),
			(
				xxs: mix( $default-color, #ff0000, 20% ),
			),
		),
	),
);
