@import "../variables";

$component-box-model_ver7: (
	_body: (
		background: (
			(
				mix( $default-color, #ff0000, 20% ), mix( $default-color, #ff0000, 40% )
			),
			(
				":active", ( "mod_key": "mod_value" ),
				mix( $default-color, #ff0000, 60% )
			),
			(
				".js", ":hover", ( "mod_key": "mod_value" ),
				mix( $default-color, #ff0000, 80% ), mix( $default-color, #ff0000, 100% )
			),
		),
	),
	// Or last two properties can be wrote as this
	"_body:active": (
		background: (
			(
				( "mod_key": "mod_value" ),
				mix( $default-color, #ff0000, 60% )
			),
		),
	),
	"_body:hover": (
		background: (
			(
				".js", ( "mod_key": "mod_value" ),
				mix( $default-color, #ff0000, 80% ), mix( $default-color, #ff0000, 100% )
			),
		),
	),
);

$component-box-model_ver7_m: (
	_body: (
		background: (
			(
				xxs: mix( $default-color, #ff0000, 20% ),
				xs : mix( $default-color, #ff0000, 40% ),
			),
			(
				":active", ( "mod_key": "mod_value" ),
				(
					xxs: mix( $default-color, #ff0000, 60% ),
				)
			),
			(
				".js", ":hover", ( "mod_key": "mod_value" ),
				(
					xxs: mix( $default-color, #ff0000, 80% ),
					xs : mix( $default-color, #ff0000, 100% ),
				)
			),
		),
	),
	// Or last two properties can be wrote as this
	"_body:active": (
		background: (
			(
				( "mod_key": "mod_value" ),
				(
					xxs: mix( $default-color, #ff0000, 60% ),
				)
			),
		),
	),
	"_body:hover": (
		background: (
			(
				".js", ( "mod_key": "mod_value" ),
				(
					xxs: mix( $default-color, #ff0000, 80% ),
					xs : mix( $default-color, #ff0000, 100% ),
				)
			),
		),
	)
);
