@import "variables";

$component-box-model_ver4: (
	body_background : ( ".js", $default-color, $default-color, lighten( $default-color, 40% ) ),
);

$component-box-model_ver4_m: (
	body_background : (
		".js", (
			xxs : $default-color,
			sm  : lighten( $default-color, 40% ),
		),
	),
);

