@import "../variables";
@import "box.model_ver0";

$component-box-model_ver5: map-unique( $component-box-model_ver0, (
	_img-container: (
		content  : ( ":before", "xxs", "xs", "sm", "md", "lg" ),
		position : ( ":before", absolute ),
		margin   : ( ":before", 5px ),
	),

	"_img-container::before" : (
		content  : ( "xxs", "xs", "sm", "md", "lg" ),
		position : absolute,
		margin   : 5px,
	)
) );

$component-box-model_ver5_m: map-unique( $component-box-model_ver0, (
	_img-container: (
		content : (
			":before", (
				xxs : "xxs",
				xs  : "xs",
				sm  : "sm",
				md  : "md",
				lg  : "lg",
			),
		),
		position : (
			":before", (
				xxs: absolute,
			)
		),
		margin : (
			":before", (
				xxs: 5px,
			),
		),
	),

	"_img-container::before": (
		content : (
			xxs : "xxs",
			xs  : "xs",
			sm  : "sm",
			md  : "md",
			lg  : "lg",
		),
		position : (
			xxs: absolute,
		),
		margin : (
			xxs: 5px,
		),
	),
) );
