$core-model-list: (
	//component
	component_clear                      : null,
	component_float                      : null,
	component_width                      : null,
	
	//list-body
	list-body_background-color           : null,
	list-body_border-color               : null,
	list-body_border-style               : null,
	list-body_border-width               : null,
	list-body_color                      : null,
	list-body_margin                     : null,
	list-body_padding                    : null,
	list-body_box-shadow                 : null,
	
	//item 
	item_clear                           : null,
	item_float                           : null,
	item_width                           : null,
	item_background-color                : null,
	
	//item-link
	item-link_background-color           : null,
	item-link_border-color               : null,
	item-link_border-style               : null,
	item-link_border-width               : null,
	item-link_color                      : null,
	item-link_margin                     : null,
	item-link_padding                    : null,
	item-link_text-decoration            : null,
	//item-link hover state
	item-link_is-hover_text-decoration   : null,
	
	//item-headline
	item-header_color                    : null,
	item-header_font-family              : null,
	item-header_font-size                : null,
	item-header_font-style               : null,
	item-header_font-weight              : null,
	item-header_line-height              : null,
	item-header_letter-spacing           : null,
	item-header_margin                   : null,
	//item-headline hover state
	item-header_is-hover_text-decoration : null,
	
	
	item-img-container_padding           : null,
	item-img-container_box-shadow        : null,
	item-img-container_border-radius     : null,
	
	item-img_padding                     : null,
	item-img_position                    : null,
	item-img_z-index                     : null,

);