$core-model-navigation: (
	container_color         : null,
	container_border-color  : null,
	container_border-styles : null,
	container_border-width  : null,

	item_color              : null,
	item_border-color       : null,
	item_border-styles      : null,
	item_border-width       : null,

	item_is-hovered_color   : null,
);
