/* -------- */
/* -------- */
/* -------- */
/* -------- */
/* -------- */
/* -------- */
/* line 340, ../../../../../src/mixins/_mvs.scss */
.flex .syntax_base_modernizr .list-item {
  border-color: #000010;
}
/* line 340, ../../../../../src/mixins/_mvs.scss */
.no-flex .syntax_base_modernizr .list-item {
  border-color: #000020;
}
/* line 340, ../../../../../src/mixins/_mvs.scss */
.syntax_base_modernizr .list-item {
  border-color: black;
}

/* line 340, ../../../../../src/mixins/_mvs.scss */
.syntax_base_list_modernizr .list-item {
  border-color: black;
}
@media only screen and (min-width: 480px) {
  /* line 340, ../../../../../src/mixins/_mvs.scss */
  .syntax_base_list_modernizr .list-item {
    border-color: #000001;
  }
}
@media only screen and (min-width: 768px) {
  /* line 340, ../../../../../src/mixins/_mvs.scss */
  .syntax_base_list_modernizr .list-item {
    border-color: #000002;
  }
}
/* line 340, ../../../../../src/mixins/_mvs.scss */
.flex .syntax_base_list_modernizr .list-item {
  border-color: #000010;
}
@media only screen and (min-width: 480px) {
  /* line 340, ../../../../../src/mixins/_mvs.scss */
  .flex .syntax_base_list_modernizr .list-item {
    border-color: #000020;
  }
}
@media only screen and (min-width: 768px) {
  /* line 340, ../../../../../src/mixins/_mvs.scss */
  .flex .syntax_base_list_modernizr .list-item {
    border-color: #000030;
  }
}
/* line 340, ../../../../../src/mixins/_mvs.scss */
.no-flex .syntax_base_list_modernizr .list-item {
  border-color: #000010;
}
@media only screen and (min-width: 480px) {
  /* line 340, ../../../../../src/mixins/_mvs.scss */
  .no-flex .syntax_base_list_modernizr .list-item {
    border-color: #000020;
  }
}
@media only screen and (min-width: 768px) {
  /* line 340, ../../../../../src/mixins/_mvs.scss */
  .no-flex .syntax_base_list_modernizr .list-item {
    border-color: #000030;
  }
}
/* line 340, ../../../../../src/mixins/_mvs.scss */
.flex .syntax_base_list_modernizr .list-item:nth-child(n) {
  border-style: dotted;
}
/* line 340, ../../../../../src/mixins/_mvs.scss */
.flex .syntax_base_list_modernizr .list-item:nth-child(2n) {
  border-style: none;
}
/* line 340, ../../../../../src/mixins/_mvs.scss */
.no-flex .syntax_base_list_modernizr .list-item:nth-child(n) {
  border-style: dotted;
}
/* line 340, ../../../../../src/mixins/_mvs.scss */
.syntax_base_list_modernizr .list-item {
  border-style: solid;
}
