@media (min-width: 480px) {
  .c-box-ver1 {
    width: 100%; } }
@media (min-width: 768px) {
  .c-box-ver1 {
    width: 80%; } }
@media (min-width: 992px) {
  .c-box-ver1 {
    width: 60%; } }
@media (min-width: 1200px) {
  .c-box-ver1 {
    width: 40%; } }
