.c-box-ver9 .c-box__body {
	color: #111
}

.c-box-ver9 .c-box__body .m-item {
	color: #222
}

.c-box-ver9 .c-box__body .m-item__item {
	color: #333
}

.c-box-ver9 .c-box__body.m-item[data-mod--mod-key='mod-value'] .m-item__item {
	color: #444
}

.c-box-ver9_m .c-box__body {
	color: #111
}

.c-box-ver9_m .c-box__body .m-item {
	color: #222
}