.c-box-ver3 .c-box__img {
  width: 100%; }

.c-box-ver3 .c-box__body {
  background: #f5f2f0; }

@media (min-width: 620px) and (max-width: 819px) {
  .c-box-ver3 .c-box__body {
    background: #ccbdb3; } }

.c-box-ver3_m .c-box__img {
  width: 100%; }

.c-box-ver3_m .c-box__body {
  background: #f5f2f0; }

@media (min-width: 620px) and (max-width: 819px) {
  .c-box-ver3_m .c-box__body {
    background: #ccbdb3; } }
