.c-box__img-container {
	display: block
}

.c-box__img {
	width: 100%
}

.c-box__body,
.c-box-ver2 .c-box__body {
	background: #F5F2F0
}

@media (min-width: 480px) {
	.c-box-ver1,
	.c-box-ver2 {
		width: 100%
	}
	.c-box-ver2 .c-box__body {
		background: red
	}
}

@media (min-width: 768px) {
	.c-box-ver1,
	.c-box-ver2 {
		width: 80%
	}
}

@media (min-width: 992px) {
	.c-box-ver1,
	.c-box-ver2 {
		width: 60%
	}
}

@media (min-width: 1200px) {
	.c-box-ver1,
	.c-box-ver2 {
		width: 40%
	}
}