@media (min-width: 420px) {
  .c-box-ver8 .c-box__body {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; } }
@media (min-width: 620px) {
  .c-box-ver8 .c-box__body {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; } }
.c-box-ver8 .c-box__body {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }
@media (min-width: 420px) {
  .c-box-ver8 .c-box__body {
    -moz-border-radius: 5px / 10px;
    -webkit-border-radius: 5px 10px;
    border-radius: 5px / 10px; } }
@media (min-width: 620px) {
  .c-box-ver8 .c-box__body {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px; } }

@media (min-width: 420px) {
  .c-box-ver8_m .c-box__body {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; } }
@media (min-width: 620px) {
  .c-box-ver8_m .c-box__body {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; } }
.c-box-ver8_m .c-box__body {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }
@media (min-width: 420px) {
  .c-box-ver8_m .c-box__body {
    -moz-border-radius: 5px / 10px;
    -webkit-border-radius: 5px 10px;
    border-radius: 5px / 10px; } }
@media (min-width: 620px) {
  .c-box-ver8_m .c-box__body {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px; } }
