@media (min-width: 420px) {
	.c-box-ver8 .c-box__body,
	.c-box-ver8_m .c-box__body {
		white-space: nowrap;
		overflow: hidden;
		-ms-text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis
	}
}

@media (min-width: 620px) {
	.c-box-ver8 .c-box__body,
	.c-box-ver8_m .c-box__body {
		overflow: hidden;
		-ms-text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis
	}
}