.page-index__container {
	margin: 0 auto
}

.page-index__container:before {
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	display: block;
	position: fixed;
	bottom: 10px;
	left: 10px;
	padding: 10px;
	background-color: #DEDEDE;
	font-size: 2rem;
	z-index: 1000;
	content: "xxs"
}

.page-index__sample {
	border: solid 1px #f5f2f0;
	padding: 10px
}

.page-index pre[data-src]::after {
	content: attr(data-src);
	color: #000;
	background-color: #CFCFCF;
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: .9em;
	border-radius: 5px 0 0 0;
	padding: 0 .5em;
	text-shadow: none
}

@media (min-width: 0) {
	.page-index__container {
		width: auto
	}
}

@media (min-width: 420px) {
	.page-index__container {
		width: 400px
	}
	.page-index__container:before {
		content: "xs"
	}
}

@media (min-width: 620px) {
	.page-index__container {
		width: 600px
	}
	.page-index__container:before {
		content: "sm"
	}
}

@media (min-width: 820px) {
	.page-index__container {
		width: 800px
	}
	.page-index__container:before {
		content: "md"
	}
}

@media (min-width: 1020px) {
	.page-index__container {
		width: 1000px
	}
	.page-index__container:before {
		content: "lg"
	}
}