$navigation: (
	container_color         : #000,
	container_border-color  : #000,
	container_border-styles : solid,
	container_border-width  : 1px 1px 1px 1px,
	
	item_color              : #000,
	item_border-color       : #000,
	item_border-styles      : solid,
	item_border-width       : 1px 1px 1px 1px,
	
	item_is-hovered_color   : #EEE,
);